node_modules/
.env
.idea/
docker/certbot/credentials
docker/certbot/etc
docker/certbot/var
docker/myca/generate/ca
docker/myca/generate/cert
docker/server/etc
docker/server/lib
docker/server/log
/.npmrc
